.topbar {
	display: inline;
	text-align: center;
	cursor: pointer;
}
.topbar span {
	margin-right: 2%;
	margin-left: 2%;
}

.topbarSelected {
	text-decoration: underline;
	text-decoration-color: red;
	background-color: #ffff66;
}

.topbar .switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 25px;
}
@media only screen and (max-width: 400px) {
	.topbar .switch {
		width: 80px;
	}
}
.topbar .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.topbar .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.topbar .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 26px;
	left: 3px;
	bottom: 3.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.topbar input:checked + .slider:before {
	-webkit-transform: translateX(63px);
	-ms-transform: translateX(63px);
	transform: translateX(63px);
}
@media only screen and (max-width: 400px) {
	.topbar input:checked + .slider:before {
		-webkit-transform: translateX(45px);
		-ms-transform: translateX(45px);
		transform: translateX(45px);
	}
}
